@require "../../styl/init"

xb-radio
  skin: xb-inline-block

.xb-radio
  font-weight: inherit

  &._size-m
    skin: v3-radio \
          (__view '& > ._view') \
          (__icon '& > ._icon') \
          (__text '& > ._label') \
          (__controller '& > ._controller')

  &._size-l
    skin: v3-radio (_size large) \
          (__view '& > ._view') \
          (__icon '& > ._icon') \
          (__text '& > ._label') \
          (__controller '& > ._controller')
