@require "../../styl/init"

xb-radio
  skin: xb-inline-block

.xb-radio
  kind: block inline
  skin: para no-margin
  cursor: pointer
  vertical-align: inherit
  font-size: inherit
  line-height: inherit
  font-weight: inherit

  &._size-s
    skin: para2 no-margin
    vertical-align: inherit
    font-size: inherit
    line-height: inherit

    & > ._xb-radio_flag
      skin: para2 no-margin

._xb-radio_flag
  kind: icon
  skin: radio (__icon '& > ._xb-radio_flag-icon')
