/*
.xb-ico_type_remove
  skin: icon_remove

  &.xb-ico_active
    skin: icon _remove with-hover

  &.is-disabled
    skin: disabled


.xb-ico_type_notification
  skin: icon_notification

  &.xb-ico_active
    skin: icon _notification with-hover

  &.is-disabled
    skin: disabled


.xb-ico_type_check
  skin: icon_check

  &.xb-ico_active
    skin: icon _check with-hover

  &.is-disabled
    skin: disabled


.xb-ico_type_dropdown
  skin: icon_dropdown

  &.xb-ico_active
    skin: icon _dropdown with-hover

  &.is-disabled
    skin: disabled


.xb-ico_float_right
  margin: 0 -5px 0 5px
  float: right

.xb-ico_float_left
  margin: 0 5px 0 -5px
  float: left
*/



$svg ?= {}

.nb-icon
  kind: icon (size 16px 16px)

  // Move this to a skin?
  .nb-button &
  ._nb-select-a &
    margin-right: $islands_xs
    margin-left: -1*$islands_xs

  ._nb-with-only-button &
    margin-right: -1*$islands_xs
    margin-left: -1*$islands_xs

$svg-icons = 'close' 'download' 'upload' 'eye' 'link' 'trash' 'people' 'help' 'print' 'services' 'settings' 'attention' 'three-dots' 'play' 'pause' 'mail' 'link-white' 'download-white' 'upload-white' 'trash-white' 'vk' 'twitter' 'odnoklassniki'

$svg["sizes"] = {
  s: 1.6*rem,
  m: 3.2*rem
}

for $size-name, $size-value in $svg.sizes
  for $icon in $svg-icons
    .nb-{$size-name}-{$icon}-icon
      background-image: url('i/' + $icon + '.svg')
      width: $size-value
      height: $size-value

// Compensate visual shift for link icon
.nb-s-icon-link
  left: 2px