$svg ?= {}

$svg-icons = 'close' 'download' 'upload' 'eye' 'link' 'trash' 'people' 'help' 'print' 'services' 'settings' 'attention' 'three-dots' 'play' 'pause' 'mail' 'link-white' 'download-white' 'upload-white' 'trash-white' 'vk' 'twitter' 'odnoklassniki'

$svg["sizes"] = {
  s: 1.6*rem,
  m: 3.2*rem
}

.xb-ico
  kind: icon (size 16px 16px)

  &._disabled
    skin: disabled

  &._active
    skin: icon with-hover

  for $size-name, $size-value in $svg.sizes
    &._size-{$size-name}
      width: $size-value
      height: $size-value

  for $icon in $svg-icons
    &._type-{$icon}
      background-image: embedurl('img/' + $icon + '.svg')

  &._type-remove
    skin: icon_remove

  &._type-notification
    skin: icon_notification
    width: auto !important
    height: auto !important

  &._type-check
    skin: icon_check

  &._type-dropdown
    skin: icon_dropdown

