@import "../../index"

$svg ?= {}

$svg-icons = {
    'attention': 1,
    'close': 1,
    'download': 1,
    'download-white': 1,
    'eye': 1,
    'help': 1,
    'link': 1,
    'link-white': 1,
    'mail': 1,
    'mic-off': 1,
    'mic-on': 1,
    'odnoklassniki': 1,
    'pause': 1,
    'people': 1,
    'play': 1,
    'print': 1,
    'services': 1,
    'settings': 1,
    'three-dots': 1,
    'trash': 1,
    'trash-white': 1,
    'twitter': 1,
    'upload': 1,
    'upload-white': 1,
    'vk': 1
}

$svg["sizes"] = {
  s: 1.6*rem,
  m: 3.2*rem
}

xb-ico
  skin: xb-inline-block

.xb-ico
  kind: icon (size 16px 16px)

  &._active
    skin: icon with-hover

  for $size-name, $size-value in $svg.sizes
    &._size-{$size-name}
      width: $size-value
      height: $size-value

  for $icon, $icon-on in $svg-icons
    &._type-{$icon}
      background-image: url('img/' + $icon + '.svg')

  &._type-remove
    skin: icon_remove

  &._type-notification
    skin: icon_notification
    width: auto !important
    height: auto !important

  &._type-check
    skin: icon_check

  &._type-dropdown
    skin: icon_dropdown
