skin-islands-xb-scroll-x()
  overflow-y: scroll
  overflow-x: hidden
  tap-highlight-color: rgba(#000, 0)
  transform: translateZ(0)
  margin-right: -15px

  @media screen and (-webkit-min-device-pixel-ratio:0)
    margin-right: auto !important

    &::-webkit-scrollbar
      width: 0 !important
