skin-islands-xb-scroll-control-top()
  height: ($islands_m / 2)
  position: absolute
  background-color: #fff
  left: 0
  top: 0
  width: 100%
  display: none
  z-index: 2
  cursor: n-resize

  &:after
    content: ""
    position: absolute
    border: 4px solid transparent
    border-bottom: 4px solid rgba(#000, 0.3)
    clear: both
    margin-left: -4px
    left: 50%
    top: -2px
