skin-islands-xb-scroll-control-bottom()
  height: ($islands_m / 2)
  position: absolute
  background-color: #fff
  left: 0
  bottom: 0
  cursor: s-resize
  width: 100%
  display: none
  z-index: 2

  &:after
    content: ""
    position: absolute
    border: 4px solid transparent
    border-top: 4px solid rgba(#000, 0.3)
    top: 2px
    clear: both
    margin-left: -4px
    left: 50%
