@require "../../styl/init"

stylobate_defaults('skin-islands-v3-button',
  '_reset',
  '_shape' normal,
  '_type' normal,
  '_size' medium,
  '_align' center,
  '_hover' '&:hover',
  '_active' '&:active',
  '_focus' '&:focus',
  '__content' '& > ._content',
  '__text' '& > ._content > ._text',
  '__before' '& > ._content > ._before',
  '__after' '& > ._content > ._after'
  )

xb-button
  skin: xb-inline-block

a.xb-button
  text-decoration: none

.xb-button
  &._theme-normal
    &_size-s
      skin: v3-button (_size small)

    &_size-m
      skin: v3-button (_size medium)

    &_size-l
      skin: v3-button (_size large)

    &_size-xl
      skin: v3-button (_size extra-large)

  &._theme-action
    &_size-s
      skin: v3-button (_type action) (_size small)

    &_size-m
      skin: v3-button (_type action) (_size medium)

    &_size-l
      skin: v3-button (_type action) (_size large)

    &_size-xl
      skin: v3-button (_type action) (_size extra-large)

  &._theme-pseudo
    &_size-s
      skin: v3-button (_type pseudo) (_size small)

    &_size-m
      skin: v3-button (_type pseudo) (_size medium)

    &_size-l
      skin: v3-button (_type pseudo) (_size large)

    &_size-xl
      skin: v3-button (_type pseudo) (_size extra-large)

  &._theme-dark
    &_size-s
      skin: v3-button (_type dark) (_size small)

    &_size-m
      skin: v3-button (_type dark) (_size medium)

    &_size-l
      skin: v3-button (_type dark) (_size large)

    &_size-xl
      skin: v3-button (_type dark) (_size extra-large)

  &._theme-dark-pseudo
    &_size-s
      skin: v3-button (_type dark-pseudo) (_size small)

    &_size-m
      skin: v3-button (_type dark-pseudo) (_size medium)

    &_size-l
      skin: v3-button (_type dark-pseudo) (_size large)

    &_size-xl
      skin: v3-button (_type dark-pseudo) (_size extra-large)

  &._theme-clear
    &_size-s
      skin: v3-button (_type clear) (_size small)

    &_size-m
      skin: v3-button (_type clear) (_size medium)

    &_size-l
      skin: v3-button (_type clear) (_size large)

    &_size-xl
      skin: v3-button (_type clear) (_size extra-large)

  & > ._xb-check_controller:checked + .xb-button > ._content
    skin: v3-button_checked

  & > ._xb-check_controller:focus + .xb-button
    skin: v3-button_focus

/*
.xb-button
  kind: button
  position: relative // Why is it there?
  text-align: center // Fixes #323

  &:not(._theme-check):active
    skin: button_pressed

  &._theme-check
    kind: block inline
    vertical-align: baseline
*/
