[submodule "lib/xblocks"]
	path = lib/xblocks
	url = https://github.com/Katochimoto/xblocks.git
[submodule "lib/xblocks-core"]
	path = lib/xblocks-core
	url = https://github.com/Katochimoto/xblocks-core.git
