.xb-input

  &._disabled
    skin: disabled

  &._size-s
    skin: input small top

  &._size-l
    skin: input large top

  &._size-xl
    skin: input xlarge top

  &._autosize
    width: auto !important

  &._simple
    kind: input top
    skin: input
    font-family: Arial, sans-serif
    -webkit-appearance: textfield

  &._complex
    kind: field $islands_s $islands_s
    skin: input-box top
    vertical-align: top
    font-family: Arial, sans-serif

    :not(._disabled):focus + &
      skin: input_focus

    & ._content
      kind: field-content

    & ._controller
      kind: input top
      z-index: 9
      width: 100%
      height: 100%

    textarea&
      vertical-align: top
      resize: none

    & ._view
      border: 1px solid transparent
      kind: fill -1px
      skin: input-view no-focus

    & ._reset
      kind: field-right 0.5*$islands_s
      height: auto

    & ._left
      kind: field-left 0.5*$islands_s
      height: auto

    & ._right
      kind: field-right 0.5*$islands_s
      height: auto
