.xb-ico_type_remove
  skin: icon_remove

  &.xb-ico_active
    skin: icon _remove with-hover

  &.is-disabled
    skin: disabled


.xb-ico_type_notification
  skin: icon_notification

  &.xb-ico_active
    skin: icon _notification with-hover

  &.is-disabled
    skin: disabled