.xb-ico_type_remove
  skin: icon_remove

  &.xb-ico_active
    skin: icon _remove with-hover

  &.is-disabled
    skin: disabled


.xb-ico_type_notification
  skin: icon_notification

  &.xb-ico_active
    skin: icon _notification with-hover

  &.is-disabled
    skin: disabled


.xb-ico_type_check
  skin: icon_check

  &.xb-ico_active
    skin: icon _check with-hover

  &.is-disabled
    skin: disabled


.xb-ico_type_dropdown
  skin: icon_dropdown

  &.xb-ico_active
    skin: icon _dropdown with-hover

  &.is-disabled
    skin: disabled


.xb-ico_float_right
  margin: 0 0 0 5px
  float: right

.xb-ico_float_left
  margin: 0 5px 0 0
  float: left