xb-menu-inline
  skin: xb-inline-block

  & > ._popup
    kind: block inline
    skin: isle
    overflow: hidden
    padding: 0
    outline: none

    &:before,
    &:after
      margin: 0
      display: none

    &:focus
      box-shadow: 0 0 0 1px rgba(#000, 0.2)
