.xb-field_simple
  kind: input top
  skin: input
  font-family: Arial, sans-serif

  &.xb-field_size_s
    skin: input small top
    // reset default styles for <input type="search"/>
    -webkit-appearance: textfield

  &.xb-field_size_l
    skin: input large top
    // reset default styles for <input type="search"/>
    -webkit-appearance: textfield

  &.is-disabled
    skin: disabled




.xb-field_complex
  kind: field $islands_s $islands_s
  skin: input-box top
  vertical-align: top
  font-family: Arial, sans-serif

  &.xb-field_size_s
    skin: input-box small top

  &.xb-field_size_l
    skin: input-box large top

  &.is-disabled
    skin: disabled

.xb-field_complex__content
  kind: field-content

.xb-field_complex__controller
  kind: input top
  z-index: 9
  width: 100%
  height: 100%

  textarea&
    vertical-align: top
    resize: none

.xb-field_complex__view
  border: 1px solid transparent
  kind: fill -1px
  skin: input-view no-focus

  :not(.is-disabled):focus + &
    skin: input_focus

.xb-field_complex__reset
  kind: field-right 0.5*$islands_s
  //skin: icon _remove with-hover
  height: auto

  //&:before
  //  content: "\00a0"

.xb-field_complex__left
  kind: field-left 0.5*$islands_s
  height: auto

.xb-field_complex__right
  kind: field-right 0.5*$islands_s
  height: auto

.xb-field_autosize
  width: auto !important
