.xb-field
  kind: input
  skin: input

.xb-field.size_s
  skin: input small

.xb-field_box
  kind: field no-elements
  skin: input-box

.xb-field_box.size_s
  skin: input-box small

.xb-field_box
  .input-controller
    kind: input
    z-index: 9
    width: 100%
    height: 100%

    textarea&
      vertical-align: top
      resize: none

  .input-view
    kind: fill -1px
    skin: input-view no-focus

    :not(.is-disabled):focus + &
      skin: input_focus

  .field-left
    kind: field-left 0.5*$islands_s $islands_s

  .field-right
    kind: field-right 0.5*$islands_s $islands_s