@require "../../../styl/init"

.xb-select
  font-weight: inherit
  position: relative
  cursor: pointer

  &:focus
    skin: v3-button_focus

    &:before
      z-index: 2

  & > xb-button
    width: 100%
    pointer-events: none
