.xb-link_normal
  skin: link underline

  &.is-disabled
    skin: disabled


.xb-link_outer
  skin: outer-link underline

  &.is-disabled
    skin: disabled


.xb-link_pseudo
  skin: pseudo-link

  &.is-disabled
    skin: disabled


/* ссылка внутри сложного инпута */
.xb-link_input
  kind: field-left 0.5*$islands_s
  skin: input-label
  height: auto
  margin-left: $islands_s*-1
