.xb-link
  &._disabled
    skin: disabled

  &._theme-normal
    skin: link underline

  &._theme-outer
    skin: outer-link underline

  &._theme-pseudo
    skin: pseudo-link

  // ссылка внутри сложного инпута
  &._theme-input
    kind: field-left 0.5*$islands_s
    skin: input-label
    height: auto
    margin-left: $islands_s*-1
    font-family: Arial, sans-serif
