.xb-link
  &._disabled
    skin: disabled

  &._type-normal
    skin: link underline

  &._type-outer
    skin: outer-link underline

  &._type-pseudo
    skin: pseudo-link

  // ссылка внутри сложного инпута
  &._type-input
    kind: field-left 0.5*$islands_s
    skin: input-label
    height: auto
    margin-left: $islands_s*-1
