@import "styl/mixins"

@import "../node_modules/stylobate"
rem = rem_px;
@import "../node_modules/stylobate-islands"
set-skin-namespace('islands');

xb-button,
xb-input,
xb-ico,
xb-select,
xb-checkbox,
xb-radio,
xb-link,
xb-popup,
xb-menu
  display: inline-block

  & *, *:before, *:after
    box-sizing: initial

  &[hidden]
    display: none

xb-menuitem,
xb-menuseparator
  display: block

  & *, *:before, *:after
    box-sizing: initial

  &[hidden]
    display: none


@import "styl/vars/colors"
@import "styl/vars/layout"

@import "blocks/ico/ico"
@import "blocks/link/link"
@import "blocks/button/button"
@import "blocks/input/input"
@import "blocks/checkbox/checkbox"
@import "blocks/radio/radio"
@import "blocks/popup/popup"
@import "blocks/menu/menu"
@import "blocks/menu/menuitem"
@import "blocks/menu/menuseparator"
@import "blocks/select/select"

@import "styl/global"
@import "styl/check"
@import "styl/file-intruder"
