@import '_skin-dark'

$skin-islands-button-content = '.xb-button__text'
$skin-islands-button-disabled = '.xb-button_disabled'

// Обычная кнопка
.xb-button_theme_normal
  kind: button
  skin: button top

  // Маленькая обычная кнопка
  &.xb-button_size_s
    skin: button small top

    &.xb-button_checked
      skin: button_checked

  &.xb-button_checked
    skin: button_checked


// Промо кнопка
.xb-button_theme_promo
  kind: button
  skin: promo-button top

  // Маленькая промо кнопка
  &.xb-button_size_s
    skin: promo-button small top

    &.xb-button_checked
      skin: button_checked

  // Большая промо кнопка
  &.xb-button_size_l
    skin: promo-button large top

    &.xb-button_checked
      skin: button_checked

  // Очень большая промо кнопка
  &.xb-button_size_xl
    skin: promo-button xlarge top

    &.xb-button_checked
      skin: button_checked

  &.xb-button_checked
    skin: button_checked




// Летающая кнопка
.xb-button_flying
  skin: button fly top

  // Маленькая летающая кнопка
  &.xb-button_size_s
    skin: button fly small top

    &.xb-button_checked
      skin: button_checked fly

  &.xb-button_checked
    skin: button_checked fly


  &.xb-button_theme_promo
    skin: promo-button fly top

    // Маленькая промо кнопка
    &.xb-button_size_s
      skin: promo-button fly small top

      &.xb-button_checked
        skin: button_checked

    // Большая промо кнопка
    &.xb-button_size_l
      skin: promo-button fly large top

      &.xb-button_checked
        skin: button_checked

    // Очень большая промо кнопка
    &.xb-button_size_xl
      skin: promo-button fly xlarge top

      &.xb-button_checked
        skin: button_checked

    &.xb-button_checked
      skin: button_checked








// Кнопка-действие
.xb-button_theme_action
  kind: button
  skin: action-button top

  // Маленькая кнопка-действие
  &.xb-button_size_s
    skin: action-button small top

    &.xb-button_checked
      skin: button_checked

  &.xb-button_checked
    skin: button_checked





// Темная кнопка
.xb-button_theme_dark
  kind: button
  skin: dark-button top

  // Little black --dress-- button
  &.xb-button_size_s
    skin: dark-button small top

    &.xb-button_checked
      skin: button_checked

  &.xb-button_checked
    skin: button_checked





// Псевдо-кнопка
.xb-button_theme_pseudo
  kind: button
  skin: pseudo-button top
  padding: 5px 15px

  // Маленькая псевдо-кнопка
  &.xb-button_size_s
    skin: pseudo-button small top
    padding: 5px 13px

    &.xb-button_checked
      skin: button_checked

  &.xb-button_checked
    skin: button_checked





// Задизейбленная кнопка
.xb-button_disabled
  skin: disabled



// Кнопка аттача

.nb-file-intruder
  kind: file-intruder \
  (-inner '&__inner') \
  (-input '&__input') \
  (-focus '&__focus' 'islands-button_focus_style')

