@require "../../styl/init"

xb-menu
  skin: xb-inline-block
  display: none
  z-index: $popupZ
  outline: none

  &:focus
    box-shadow: 0 0 0 1px rgba(#000, 0.15), 0 8px 30px -5px rgba(#000, 0.7)

  &.xb-menu-enabled
    display: inline-block
