/*  (_hover '&:hover, &:focus') */

.xb-menuitem
  skin: menu-item
  outline: none

  &:first-child
    margin-top: ($islands_s / 2)

  &:last-child
    margin-bottom: ($islands_s / 2)

  &:hover
    background: inherit

  &._focused
    skin: menu-item_hover

  &._submenu:before
    skin: icon_dropdown selecty small
    content: ""
    margin-top: -0.2em
    transform: scale(0.75) rotate(-45deg) translate(3px, 5px)
