.xb-menuitem
  skin: menu-item (_hover '&:hover, &:focus')
  outline: none

  &:first-child
    margin-top: ($islands_s / 2)

  &:last-child
    margin-bottom: ($islands_s / 2)

  &._empty
    skin: menu-separator padded
    padding: 0

  &._group:before
    skin: icon_dropdown selecty small
    content: ""
    margin-top: -0.2em
    transform: scale(0.75) rotate(-45deg) translate(3px, 5px)
