xb-menu
  display: none

  &.xb-menu-enabled
    display: inline-block

  & > ._popup
    skin: popup
    overflow: hidden
    padding: 0

    &:before,
    &:after
      margin: 0
      display: none
