xb-menu
  skin: xb-inline-block
  display: none

  &.xb-menu-enabled
    display: inline-block

  & > ._popup
    skin: popup
    overflow: hidden
    padding: 0
    outline: none
    touch-action: none
    -webkit-touch-callout: none
    touch-callout: none
    user-select: none
    text-size-adjust: none

    &:before,
    &:after
      margin: 0
      display: none

    &:focus
      box-shadow: 0 0 0 1px rgba(#000, 0.15), 0 8px 30px -5px rgba(#000, 0.7)


    & > ._popup-content
      skin: xb-scroll-x
      max-height: 200px
