._xb-check_controller
  kind: hidden visually

  &:checked + ._xb-check_flag,
  &:checked + .xb-button
    skin: button_checked

  &:focus + ._xb-check_flag,
  &:focus + .xb-button
    skin: button_focus
