xb-button,
xb-field
  display: inline-block

  &:unresolved
    opacity: 0

xb-link
  display: inline

  &:unresolved
    opacity: 0


@import "lib/styl/_colors"
@import "lib/styl/_layout"
@import "blocks/button/styl/button"
@import "blocks/field/styl/field"
@import "blocks/link/styl/link"