@import "styl/mixins"

@import "../node_modules/stylobate"
rem = rem_px;
@import "../node_modules/stylobate-islands"
set-skin-namespace('islands');

$popupZ = 10

@import "styl/skin/xb-block"
@import "styl/skin/xb-inline-block"
@import "styl/skin/xb-scroll-x"
@import "styl/skin/xb-scroll-control-top"
@import "styl/skin/xb-scroll-control-bottom"

@import "styl/vars/colors"
@import "styl/vars/layout"

/*
@import "blocks/ico/ico"
@import "blocks/link/link"
@import "blocks/button/button"
@import "blocks/input/input"
@import "blocks/checkbox/checkbox"
@import "blocks/radio/radio"
@import "blocks/popup/popup"
@import "blocks/menu/menu"
@import "blocks/menuitem/menuitem"
@import "blocks/menuseparator/menuseparator"
@import "blocks/menu-inline/menu-inline"
@import "blocks/select/select"
@import "blocks/speech-recognition/speech-recognition"
*/

@import "styl/global"
@import "styl/check"
@import "styl/file-intruder"
