@import "../node_modules/stylobate"
rem = rem_px;
@import "../node_modules/stylobate-islands"
set-skin-namespace('islands');

xb-button,
xb-field,
xb-ico
  display: inline-block

  &:unresolved
    opacity: 0

xb-link
  display: inline

  &:unresolved
    opacity: 0


@import "lib/styl/_colors"
@import "lib/styl/_layout"
@import "blocks/button/styl/button"
@import "blocks/field/styl/field"
@import "blocks/link/styl/link"
@import "blocks/ico/styl/ico"