@import "styl/mixins"

@import "../node_modules/stylobate"
rem = rem_px;
@import "../node_modules/stylobate-islands"
set-skin-namespace('islands');

xb-button,
xb-field,
xb-ico,
xb-select
  display: inline-block

xb-link
  display: inline

xb-option,
xb-optgroup,
xb-dropdown
  display: block


@import "styl/vars/colors"
@import "styl/vars/layout"

@import "blocks/ico/ico"

//@import "blocks/button/styl/button"
//@import "blocks/field/styl/field"
//@import "blocks/link/styl/link"

@import "styl/global"