@import "styl/mixins"

@import "../node_modules/stylobate"
rem = rem_px;
@import "../node_modules/stylobate-islands"
set-skin-namespace('islands');

xb-button,
xb-input,
xb-ico,
xb-select,
xb-checkbox
  display: inline-block

xb-link
  display: inline

xb-option,
xb-optgroup,
xb-dropdown
  display: block


@import "styl/vars/colors"
@import "styl/vars/layout"

@import "blocks/ico/ico"
@import "blocks/link/link"
@import "blocks/button/button"
@import "blocks/input/input"
@import "blocks/checkbox/checkbox"


@import "styl/global"