.xb-select
  box-sizing: border-box
  display: block
  position: relative

  & > ._controller
    kind: hidden visually
    width: 100%
    height: 100%
    margin: 0
    padding: 0

  & > .xb-button
    width: 100%
    text-align: left

    & > ._content
      overflow: hidden
      text-overflow: ellipsis

      &:before
        content: " " // utf nbsp here
        skin: icon_dropdown selecty
        margin-right: -4px


._xb-select-dropdown
  skin: isle fly, menu no-elements padded
  position: absolute

  & > ._group
    reset: ul
    list-style-type: none // move to reset

    & > ._item
      reset: li
      list-style-type: none // move to reset

      & > ._item-control
        skin: menu-item
        white-space: nowrap
        padding-right: 21px
