@require "../../../styl/init"

input.xb-input
  appearance: textfield

.xb-input
  &._ghost:not(:focus):not(:hover)
    border: none
    background: none
    box-shadow: none

    & > ._content
      & > ._controller:not(:focus) + ._view
        border: none
        background: none
        box-shadow: none

.xb-input
  &._simple
    &_size-xs
      //skin: v3-input (_size extra-small)

    &_size-s
      skin: v3-input (_size small)

    &_size-m
      skin: v3-input (_size medium)

    &_size-l
      skin: v3-input (_size large)

    &_size-xl
      skin: v3-input (_size extra-large)


skin-islands-v3-input_autosize($this)
  width: auto !important

skin-islands-v3-input_link($this)
  $size = size_short($this.modifiers.size || 'medium')

  kind: field__left
  height: auto
  cursor: pointer
  padding: 0 $skin-islands-v3-input.padding[$size]
  margin-left: -1*$skin-islands-v3-input.padding[$size]

  & > .xb-link
    outline: 0

skin-islands-v3-input__excontroller($this)
  & > ._content
    & > ._controller
      appearance: textfield

    & > textarea._controller
      resize: none
      display: block

stylobate_defaults('skin-islands-v3-input',
  '_autosize' '&._autosize',
  '_link' '& > xb-link',
  '_reset',
  '__box',
  '__controller' '& > ._content > ._controller',
  '__excontroller',
  '__view' '& > ._content > ._view',
  '_focus' '& :focus + ._view',
  '_size' medium,
  '__placeholder' '& > ._content > ._hint',
  '__left' '& > ._left',
  '__right' '& > ._right',
  '__content' '& > ._content',
  '__reset' '& > ._reset'
  )

stylobate_defaults('skin-islands-v3-input__placeholder',
  '__inner' '& > ._hint-inner',
  '__ghost' '& > ._hint-ghost'
  )

.xb-input
  &._complex
    &_size-xs
      //skin: v3-input (_size extra-small)

    &_size-s
      skin: v3-input (_size small)

    &_size-m
      skin: v3-input (_size medium)

    &_size-l
      skin: v3-input (_size large)

    &_size-xl
      skin: v3-input (_size extra-large)

  &._disabled
    kind: disabled 0.6
