@require "../../../styl/init"

._xb-file-intruder
  kind: file-intruder \
    (-inner '&-inner') \
    (-input '&-input')

._xb-file-intruder-input[type="button"]
  margin: 0
  width: 100%
  height: 100%
  font-size: inherit

._xb-file-intruder-input[type="file"]
  z-index: 0
