@require "../../styl/init"

xb-menuitem
  skin: xb-block

.xb-menuitem
  skin: menu__item
  outline: none

  &:first-child
    margin-top: ($islands_s / 2)

  &:last-child
    margin-bottom: ($islands_s / 2)

  &:hover
    background: inherit

  &._focused
    skin: menu__item_hover

  &._submenu:before
    skin: icon_dropdown selecty small
    content: ""
    margin-top: -0.2em
    transform: scale(0.75) rotate(-45deg) translate(3px, 5px)


  & > ._label:not(:empty) + xb-ico,
  & > xb-ico + ._label:not(:empty)
    margin-left: 0.5 * $islands_s

  & > xb-ico:first-child
    margin-left: -0.5 * $islands_s

  & > xb-ico:last-child
    margin-right: -0.5 * $islands_s
